<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/api/products">Productos</a></li>
		<li><a href="/api/carts">Cards</a></li>
		<li><a href="/api/home/realtimeproducts">Realtimeproducts</a></li>
		<li><a href="/test_socket.html">Fetch</a></li>
	</ul>
</nav>