<section class="section-products section-products-chats">


	<span class=" user-chat-connected"></span>
	<form action="" method="post" id="form-hbs">
		<p class="message-sucess"></p>
		<div>
			<span class="user-chat">user</span>
			<div class="form-colum-left-ctn form-colum-left-ctn--chat">
				<input type="text" name="title" id="message-hbs">
				<input class=" button-form button-form--chat" type="submit" value="Enter" id="">
			</div>
		</div>
	</form>
	<div id="chat-hbs"></div>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/chat.js"></script>
</section>