<nav>
	<ul>
		<li><a href="/">Inicio</a></li>
		<li><a href="/api/handlebars/products">Productos</a></li>
		<li><a href="/api/handlebars/carts/1">Cards</a></li>
		<li><a href="/api/handlebars/home/realtimeproducts">Realtimeproducts</a></li>
		<li><a href="/test_socket.html">Fetch</a></li>
	</ul>
</nav>